<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net48" />
  <package id="ModPlus.Revit.API.2021" version="1.0.0" targetFramework="net48" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net48" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net48" />
  <package id="speckle.xunit.runner.wpf" version="1.0.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net48" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net48" />
  <package id="xunit" version="2.4.1" targetFramework="net48" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net48" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net48" />
  <package id="xunit.assert" version="2.4.1" targetFramework="net48" />
  <package id="xunit.core" version="2.4.1" targetFramework="net48" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net48" />
  <package id="xunit.extensibility.execution" version="2.4.1" targetFramework="net48" />
  <package id="xunit.runner.utility" version="2.4.1" targetFramework="net48" />
</packages>